*{
    margin:0;
}

@media (max-width:769px){
.container{
    width:100%;
    height: 100%;
    border:none;
    background-image:url(../images/newbg.png);
}

.logo{
    width:15.625rem;
    height:9.375rem;
    margin:0 auto;
}

.txt1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    text-align:center;
}

.txt2{
    width:90%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    /* font-weight: bold; */
    text-align:center;
    color:rgb(255, 0, 0);
    margin:1.25rem auto 0rem auto;
}

/* .heading{
    font-family: fantasy;
    font-size: 1.875rem;
    margin:2.5rem 0rem 0rem 3.125rem;
    text-decoration: underline 0.188rem solid;
} */
    .lunch{
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 2.813rem;
        margin:3.75rem 0rem 0rem 3.125rem;
        letter-spacing: -0.125rem;
    }

    .dinner{
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 2.813rem;
        margin:3.75rem 0rem 0rem 3.125rem;
        letter-spacing: -0.125rem;
    }

    .starters{
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 2.813rem;
        margin:3.75rem 0rem 0rem 3.125rem;
        letter-spacing: -0.125rem;
    }

    .additional{
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 2.813rem;
        margin:3.75rem 0rem 0rem 3.125rem;
        letter-spacing: -0.125rem;
    }

    .snacks{
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 2.813rem;
        margin:3.75rem 0rem 0rem 3.125rem;
        letter-spacing: -0.125rem;
    }


.dish{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    margin:0.625rem 0rem 0rem 3.125rem;
}

.menu{
    font-family: verdana;
    font-size: 1.438rem;
    margin:1.875rem 0rem 0rem 3.125rem;
}
     #comments{
           width:60%;
           height: 2rem;
           color:black;
           border-radius:0.8rem;
           margin-left:9rem;
           margin-top:2rem;
     }

input[type="checkbox"]{
    width:1.25rem;
    height:1.25rem;
}
}